%ul.errors
	%li

%div
	= f.input_field :adherent_id, collection: Adherent.not_archived.collect{ |i| [i.full_name, i.id]}, style: "width: 239px;"

	%i.icon-user.inline{rel: "tooltip", title: "Propriétaire", style: "margin-top: 10px", "data-placement" => "right"}

%div{style: "margin: 10px"}


.input-append
	= f.input_field :name, required: true, id: "appendedInput", :placeholder => "Adresse"
	%span.add-on{style: 'margin-bottom: 3px;', rel: "tooltip", title: "Nom de domaine. Des alias peuvent exister."}
		= "@" + Mailing::DomainName

=f.hidden_field :emails, style: 'width:500px'