%ul.errors
	%li

%div{style: "margin: 10px"}

= f.input_field :adherent, as: :select, class: "label-field input-xxlarge", :placeholder => "Fournisseur", collection: Adherent.all, prompt: "Propriétaire"

%div{style: "margin: 10px"}


= f.input_field :name, required: true, class: "label-field input-xlarge", id: "appendedInput", :placeholder => "Adresse"
%span
	= "@" + Mailing::DomainName
