.modal-header
	%button.close{ type:"button", 'data-dismiss' => "modal"}
		%i.icon-remove

	%h3 Création d'une mailing

= simple_form_for @mailing, validate: true, html: {"data-type" => :json} do |f|
	.modal-body
		= render partial: "form", locals: {f: f}  
	.modal-footer
		= f.submit "Créer", {class: "btn btn-primary"}
