- # Formulaire de Rezotage complet

%h1 New adherent

= render 'form'


%h2 Ordinateurs
%span#computer-comment
%hr

%div#computer-form
	= render 'computer/form'


%h2 Ordinateurs
%span#computer-comment
%hr

%div#computer-form
	= render 'computer/form'

