- if activity.trackable
	L'ordinateur d'alias
	= link_to activity.trackable.computer.mac_address, activity.trackable
	a été mis à jour.
- else
	Un ordinateur a été mis à jour, mais a été supprimé depuis.