.duplicatable_nested_form
  .controls
    .input-append
      = f.input_field :mac_address, placeholder: "Adresse MAC"
      %span.add-on
        %i.icon-laptop.inline{rel: "tooltip", title: "Adresse MAC", style: "margin-top: 10px"}