.duplicatable_nested_form
  .controls
    .input-append
      = f.input_field :mac_address, placeholder: "Adresse MAC"
      %span.add-on
        %i.icon-laptop.inline{rel: "tooltip", title: "Adresse MAC", style: "margin-top: 10px", "data-placement" => "right"}


    = f.simple_fields_for :computer_dns_entry do |builder|

      = render 'computer_dns_entries/form', f: builder


