.duplicatable_nested_form
  .controls
    .input-append
      = f.input_field :mac_address, placeholder: "Adresse MAC"
      %span.add-on
<<<<<<< HEAD
        %i.icon-laptop.inline{rel: "tooltip", title: "Adresse MAC", style: "margin-top: 10px", "data-placement" => "right"}


    = f.simple_fields_for :computer_dns_entry do |builder|

      = render 'computer_dns_entries/form', f: builder

=======
        %i.icon-laptop.inline{rel: "tooltip", title: "Adresse MAC", style: "margin-top: 10px"}
>>>>>>> 6d299dfb9b0a4c3197311b60d44d613cd23cfd8f

