- if activity.trackable
	L'entrée DNS d'ordinateur
	= link_to activity.trackable.name, activity.trackable
	a été mise à jour
- else
	Une entrée DNS d'ordinateur a été mise à jour, mais a été supprimée depuis.