-#%ul.nav.nav-tabs
-#	%li.active
-#		= link_to "Adhérent", "#adherent", "data-toggle" => "tab"
-#	%li
-#		= link_to "Résidence", "#resident", id: "resident-tab", "data-toggle" => "tab"
-#	%li
-#		= link_to "Supélec", "#supelec", id: "supelec-tab", "data-toggle" => "tab"
-#
-#.tab-content
-#	.tab-pane.active#adherent
-#
-#		= render 'adherent_form', f: f
-#
-#	.tab-pane#resident
-#
-#		= f.input_field :room, collection: Room.not_archived, label_method: :full_address, id: "rooms-select", style: 'width: 254px; margin-bottom: 10px;', selected: @adherent.room_id
-#
-#		- if @adherent.new_record?
-#			%hr
-#			%h2 Ordinateur
-#
-#			= f.simple_fields_for :computers do |builder|
-#				= render 'computers/form', f: builder	
-#			
-#			%hr
-#			%h2 Paiement
-#
-#			= f.simple_fields_for :credit do |builder|
-#				= builder.simple_fields_for :payments do |payment_builder|
-#					= render 'payments/form', f: payment_builder
-#
-#	.tab-pane#supelec
-#
-#		.controls
-#			= f.input_field :password, placeholder: "Mot de passe"
-#			= f.input_field :password_confirmation, placeholder: "Confirmation du mot de passe"
-#
-#		.controls
-#			= f.input_field :username, placeholder: "Username"
-#			= f.input_field :promotion, as: :select, collection: (Time.now.year-5...Time.now.year+5), id: "years-select", style: 'width: 220px;'
-#
-#		.controls
-#			.input-append
-#				= f.input_field :supelec_email, required: true, id: "appendedInput", :placeholder => "Adresse Supélec"
-#				%span.add-on{style: 'margin-bottom: 3px;', rel: "tooltip", title: "E-mail Supélec"}
-#					= "@supelec.fr"
-#
-#			%button.btn#supelec-mail-button{style: "margin-bottom: 2px;"} Utiliser l'adresse Supélec			
-#
-#			= f.hidden_field :use_supelec_email, id: "supelec-mail-check"
-#