.modal-header
	%button.close{ type:"button", 'data-dismiss' => "modal"}
		%i.icon-remove

	%h3 Rézotage

	= bootstrap_flash

= simple_form_for @adherent, validate: true, remote: true do |f|	

	.modal-body
		= render "form", f: f

	.modal-footer
		= f.submit "Rézoter", {class: "btn btn-primary"}
