- if activity.trackable
	L'entrée DNS générique
	= link_to activity.trackable.name, activity.trackable
	a été mise à jour
- else
	Une entrée DNS générique a été mise à jour, mais a été supprimée depuis.