- if activity.trackable
	Un 
	= link_to "paiement", activity.trackable
	de
	= payment_from_trackable(activity.trackable).full_name
	a été archivé.
- else
	Un paiement a été archivé, mais a été supprimé depuis.