- if activity.trackable
	Un 
	= link_to "paiement", activity.trackable
	de
	= link_to activity.trackable.adherent.full_name, activity.trackable.adherent
	a été mis à jour.
- else
	Un paiement a été mis à jour, mais a été supprimé depuis.