<<<<<<< HEAD
= f.input_field :name, placeholder: "Nom de domaine"
=======
.input-append
	= f.input_field :name, placeholder: "Nom de domaine"
	%span.add-on
		%i.icon-globe.inline{rel: "tooltip", title: "Nom de domaine", style: "margin-top: 10px"}
>>>>>>> 6d299dfb9b0a4c3197311b60d44d613cd23cfd8f
